
<head>
<!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- SEO -->
    <meta name="description" content="150 words">
    <meta name="author" content="uipasta">
    <meta name="url" content="http://www.yourdomainname.com">
    <meta name="copyright" content="company name">
    <meta name="robots" content="index,follow">
    
    
    <title>{{ page.web_title }}</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}/img/favicon.png">
    <link rel="logo" sizes="144x144" type="image/x-icon" href="{{ site.url }}/img/favicon.png">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blog_plugin.css">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blog_style.css">
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
</head>