<!-- Footer -->
    <footer style="background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              
              <li class="list-inline-item">
                <a href="https://www.github.com/codingprivacy/" target="_blank">
                  <img src="/img/icons/github_big.png">
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Coding Privacy 2018</p>
          </div>
        </div>
      </div>
    </footer>