<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">



{% include blog_header.html %}
    


    
    
 <body>

<!-- Preloader Start -->
     <div class="preloader">
	   <div class="rounder"></div>
      </div>
     
      
      
    
    
    <div id="main">
        <div class="container">
            <div class="row">
            	 <div class="col-md-9">
                  <div class="col-md-12 page-body">
                      <div class="row">
                    		
                            
                            <div class="sub-title">
                                
                           		<h1><b>{{ page.page_title }}</b></h1>
                                
                               <span><p >{{ page.upload-date }}</p></span>
                               <p >{{ page.author }}</p>
                             </div>

                          <div class="col-md-12 content-page">
                            	
                                
                                
                                <div class="col-md-12 blog-post">
                                    

                                    
                                	
     
	 

 {{  content }}
                                

               

                                    

                                </div>
                            </div>
                             <br>                     
                                
                                
                               
                       
{% include blog_footer.html %}
                          
                          
            

   </body>
 </html>
